@import "./variables.css";

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-main);
}

html,
body,
#app {
  height: 100%;
  overscroll-behavior: none;
  touch-action: none;
}

.wrapper {
  height: 100%;
  touch-action: pan-y;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 12px;
}

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
